
@font-face {font-family: "iconfont";
  src: url('../font_newsdetail/iconfont.eot?t=1498186058461'); /* IE9*/
  src: url('../font_newsdetail/iconfont.eot?t=1498186058461#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font_newsdetail/iconfont.woff?t=1498186058461') format('woff'), /* chrome, firefox */
  url('../font_newsdetail/iconfont.ttf?t=1498186058461') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font_newsdetail/iconfont.svg?t=1498186058461#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:.24rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before { content: "\e600"; }

.icon-ordinaryzhongzi:before { content: "\e642"; }

.icon-shoucang1:before { content: "\e60c"; }

.icon-zihao:before { content: "\e6ed"; }

.icon-shoucangshixin:before { content: "\e605"; }

.icon-xuanzhong:before { content: "\e63b"; }

.icon-fanhuijiantou:before { content: "\e721"; }

.icon-xuanzhong1:before { content: "\e6ef"; }

